#conceptosAfiliaciónSeguridadSocial {
    min-height: 60vh;
}

#conceptosAfiliaciónSeguridadSocial>button {
    margin: 0;
    height: 180px;
    width: 100%;
    border: 1px solid black;
}

#editEmployeeRecordBtn {
    width: 35px;
    height: 35px;
    background-image: url('img/icons8-edit-32.png');
}

#deleteEmployeeRecordBtn {
    width: 35px;
    height: 35px;
    background-image: url('img/icons8-delete-32.png');
}