.preselectionSelectionContainer {
    min-height: 70vh;
}

#aplicantsArea {
    border: 1px dashed grey;
    border-radius: 8px;
}

div>h6 {
    margin: 0;
}

#hiringProcessesContainer {
    min-height: 70vh;
}

.hiringProcessBtns {
    height: 40%;
    margin: 10px 0;
}

.scrollableAssArea {
    overflow: auto;
    height: 70vh;
}

#editOfferRecordBtn {
    width: 35px;
    height: 35px;
    background-image: url('img/icons8-edit-32.png');
}

#deleteOfferRecordBtn {
    width: 35px;
    height: 35px;
    background-image: url('img/icons8-delete-32.png');
}